html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.brand, .nav-link {
    text-transform: uppercase;
    color:#303137;
}

.brand {
    font-size: 25px;

}

.sensi {
    color: #66b6d3;
    font-size: 25px;
}
.topnav {
    display:flex;
    margin: 0;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
}

.dropdownLink{
    display:none;
} 

@media (max-width:768px) {
    ul.topnav li a.nav-link{
        display:none;
}


ul.topnav .nav-link {
    text-decoration: none;
padding-left: 20px;
}

ul.topnav.responsive li a.nav-link {
    display: block;
}